.icon-xsmall {
    font-size: 0.5rem;
}

.icon-small {
    font-size: 0.75rem;
}

.icon-normal {
    font-size: 0.875rem;
}

.icon-medium {
    font-size: 1rem;
}

.icon-large {
    font-size: 1.5rem;
}